<footer class="center">
  <div class="measure">
    <small>
    <ul class="list-reset">
      <li class="inline-block mr1"><a href='github.com/snazzyham' target='_blank'>GitHub</a></li>
      <li class="inline-block mr1"><a href="http://medium.com/@SnazzyHam" target='_blank'>Medium</a></li>
      <li class="inline-block mr1"><a href="http://dribbble.com/snazzyham" target='_blank'>Dribbble</a></li>
      <li class="inline-block mr1"><a href="http://snapchat.com/add/snazzyham" target='_blank'>Snapchat</a></li>
      <li class="inline-block mr1"><a href="http://twitter.com/snazzyham" target='_blank'>Twitter</a></li>
    </ul>
      <br>
      &lt;/&gt; Read about the site stack <a href="http://github.com/snazzyham/snazzyham.github.io">here</a>.
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
