<div class="pagination clearfix mb1 mt4">
  <div class="left">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="btn btn--s" href="{{ site.baseurl }}/">{{ site.text.pagination.newer }}</a>
      {% else %}
        <a class="btn btn--s" href="{{ paginator.previous_page_path }}">{{ site.text.pagination.newer }}</a>
      {% endif %}
    {% else %}
      <span class="btn btn--s disabled">{{ site.text.pagination.newer }}</span>
    {% endif %}
  </div>
  <div class="right">
    {% if paginator.next_page %}
      <a class="btn btn--s" href="{{ paginator.next_page_path }}">{{ site.text.pagination.older }}</a>
    {% else %}
      <span class="btn btn--s disabled">{{ site.text.pagination.older }}</span>
    {% endif %}
  </div>
</div>
