a {
  text-decoration: none;
  border-bottom: 3px solid #b4e7f8;
  box-shadow: inset 0 -10px 0 #b4e7f8;
  color: inherit;
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
}

a:hover,
a:focus,
a:active {
  background: #b4e7f8;
  text-decoration: none;
}

.site-title, .site-nav a, footer a {
  border-bottom: none;
  box-shadow: none;

  &:hover {
    text-decoration: none;
  }
}

// Correct issues with buttons
button,
.button {
  text-shadow: none;
  background-image: none;
}

.button:hover,
.button:focus,
.button:active {
  color: white;
  text-shadow: none;
  background-image: none;
}

.anchorjs-link {
  text-shadow: none;
  background-image: none;
}

.anchorjs-link:hover,
.anchorjs-link:focus,
.anchorjs-link:active {
  border: 0;
  color: $link-hover-color;
  text-shadow: none;
  background-image: none;
}
